
/* Colors */
@arancio: #F7931E;
@aranciologo: #F58511;
@arancioforte: #F37021;

@verdescuro: #006D38;
@verde: #0AA245;
@verdemedio: #67AE3E;
@verdechiaro: #96BC33;

@giallo: #FDB813;
@gialloforte: #FFF200;

@marrone: #B75407;
@nero: #160706;
@bianco: #FFFFFF;

@purple: #EC008C;
